<nav class="navbar navbar-expand-lg navbar-dark justify-content-between align-content-center col-11 col-lg-9 mx-auto mx-lg-auto">
    <a class="navbar-brand-text text-decoration-none text-white flex-grow-0 flex-shrink-1 align-self-center" asp-action="Index" asp-controller="Home">SkillsBank</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggler" aria-controls="navbarToggler" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse col-11 justify-content-lg-between" id="navbarToggler">
        <form class="align-self-lg-center my-2 my-lg-0 col-8 col-lg-3 mx-auto mx-lg-0">
            <div class="input-group input-group-sm">
                <input type="text" class="form-control form-control-sm" placeholder="Search" aria-label="Search" aria-describedby="basic-addon1">
                <div class="input-group-prepend btn-search px-2 d-flex justify-content-center align-content-center align-items-center rounded-right">
                    <img class="img" src="~/images/icon- search.png" alt="search Icon" />
                </div>
            </div>
        </form>

        <ul class="align-self-center navbar-nav align-items-lg-center justify-content-lg-around col-5">
            <li class="d-flex flex-lg-column align-items-center my-2 my-lg-0">
                <img class="mr-2 me-lg-0" src="~/images/icon-home.png" alt="Home" />
                <a class="text-white text-decoration-none" href="#">Home</a>
            </li>
            <li class="d-flex flex-lg-column align-items-center  my-2 my-lg-0">
                <img class="mr-2 mr-lg-0" src="~/images/icon-connections.png" alt="connections" />
                <a class="text-white text-decoration-none" href="#">Connections</a>
            </li>
            <li class="d-flex flex-lg-column align-items-center  my-2 my-lg-0">
                <img class="mr-2 mr-lg-0" src="~/images/icon-courses.png" alt="Courses" />
                <a class="text-white text-decoration-none" href="#">Courses</a>
            </li>
            <li class="d-flex flex-lg-column align-items-center  my-2 my-lg-0">
                <img class="mr-2 mr-lg-0" src="~/images/icon-notification.png" alt="Notifications" />
                <a class="text-white text-decoration-none" href="#">Notifications</a>
            </li>
            <li class="d-flex flex-lg-column align-items-center my-2 my-lg-0">
                <img class="mr-2 mr-lg-0" src="~/images/icon-dashboard.png" alt="Dashboard" />
                <a class="text-white text-decoration-none" href="#">Dashboard</a>
            </li>
            <li class="d-flex flex-lg-column align-items-center my-2 my-lg-0">
                <img class="mr-2 mr-lg-0" src="~/images/icon-me.png" alt="Me" />
                <a class="text-white text-decoration-none" href="#">Me</a>
            </li>
        </ul>
    </div>
</nav>