<!--Modal-->
<div aria-hidden="true" aria-labelledby="modal-create-edit-course-label" role="dialog" tabindex="-1" id="modal-create-edit-course" class="modal fade bd-example-modal-lg">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    </div>
</div>