@model AddCourseViewModel
@{
    List<SelectListItem> Categories = new List<SelectListItem>();
    foreach (var category in Model.Categories)
    {
        Categories.Add(new SelectListItem() { Text = category.Name, Value = category.Id.ToString(), Selected = category.Id == Model.CategroyId });
    }
    List<SelectListItem> Types = new List<SelectListItem>();
    foreach (var type in Model.Types)
    {
        Types.Add(new SelectListItem() { Text = type.Name, Value = type.Id.ToString(), Selected = type.Id == Model.TypeId });
    }
    List<SelectListItem> Currencies = new List<SelectListItem>();
    foreach (var currency in Model.Currencies)
    {
        Currencies.Add(new SelectListItem() { Text = currency.Name, Value = currency.Id.ToString(), Selected = currency.Id == Model.CurrencyId });
    }
    List<SelectListItem> Languages = new List<SelectListItem>();
    foreach (var language in Model.Languages)
    {
        Languages.Add(new SelectListItem() { Text = language.Name, Value = language.Id.ToString(), Selected = language.Id == Model.Id });
    }
    List<SelectListItem> Statues = new List<SelectListItem>();
    foreach (var status in Model.Statuses)
    {
        Statues.Add(new SelectListItem() { Text = status.Name, Value = status.Id.ToString(), Selected = status.Id == Model.StatusId });
    }
    List<SelectListItem> Levels = new List<SelectListItem>();
    foreach (var level in Model.Levels)
    {
        Levels.Add(new SelectListItem() { Text = level.Name, Value = level.Id.ToString(), Selected = level.Id == Model.LevelId });
    }
    List<SelectListItem> Skills = new List<SelectListItem>();
    foreach (var skill in Model.Skills)
    {
        Skills.Add(new SelectListItem() { Text = skill.Name, Value = skill.Id.ToString() });
    }
    List<SelectListItem> Modules = new List<SelectListItem>();
    foreach (var module in Model.Modules)
    {
        Modules.Add(new SelectListItem() { Text = module.Name, Value = module.Id.ToString() });
    }

}

<div class="modal-content">
    <form asp-action="AddCourse" asp-controller="Course" method="post" enctype="multipart/form-data">
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Add Couse/Track</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body p-2" style="overflow-y: auto; height: 60vh;">
            <div id="slidingLayout" class="carousel slide">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <div class="row">
                            <div class="col-12 d-flex">
                                <div class="col-10 col-md-8">
                                    <div class="form-group">
                                        <label asp-for="Name" class="lable-control"></label>
                                        <input asp-for="Name" class="form-control form-control-sm" />
                                        <span asp-validation-for="Name" class="text-danger"></span>
                                    </div>
                                    <div class="form-group">
                                        <label asp-for="PromoLink" class="lable-control"></label>
                                        <input asp-for="PromoLink" class="form-control form-control-sm" />
                                        <span asp-validation-for="PromoLink" class="text-danger"></span>
                                    </div>
                                </div>
                                @*string imageDataURL = string.Format("data:image/png;base64,{0}", System.Convert.ToBase64String(dataitem.UserImage));*@
                                <div class="d-flex flex-column align-items-center flex-fill pt-2">
                                    <img class="img-thumbnail img-fluid rounded w-50" src="~/images/img-placeholder.jpg" alt="image place holder" asp-append-version="true" id="courseImg" style="max-height:80px;" />
                                    <input id="imgInp" asp-for="Image" type="file" class="d-none" accept="image/*" />
                                    <span asp-validation-for="Image"></span>
                                    <input type="button" class="mt-3 btn-sm btn-new border-0" onclick="$('#imgInp').click()" value="Course Photo" />
                                </div>
                            </div>
                            <div class="col-12 d-flex">
                                <div class="col-10 col-md-8 form-group">
                                    <label asp-for="Website" class="lable-control"></label>
                                    <input asp-for="Website" class="form-control form-control-sm" />
                                    <span asp-validation-for="Website" class="text-danger"></span>
                                </div>
                                <div class="flex-fill form-check-inline justify-content-center">
                                    <label asp-for="IsTrack" class="form-check-label mr-3"></label>
                                    <input asp-for="IsTrack" class="form-check-input" />
                                </div>
                            </div>
                            <div class="col-12 d-flex flex-wrap">
                                <div class="col-12 col-md-6 col-lg-4 form-group">
                                    <label asp-for="CategroyId" class=" mr-3"></label>
                                    <select asp-for="CategroyId"
                                            asp-items="Categories" class="custom-select custom-select-sm">
                                        <option>Please select one</option>
                                    </select>
                                    <span asp-validation-for="CategroyId" class="text-danger"></span>
                                </div>
                                <div class="col-12 col-md-6 col-lg-4 form-group">
                                    <label asp-for="Duration" class=" mr-3"></label>
                                    <input asp-for="Duration" class="form-control form-control-sm" />
                                    <span asp-validation-for="Duration" class="text-danger"></span>
                                </div>
                                <div class="col-12 col-md-6 col-lg-4 form-group">
                                    <label asp-for="TypeId" class=" mr-3"></label>
                                    <select asp-for="TypeId"
                                            asp-items="Types" class="custom-select custom-select-sm">
                                        <option>Please select one</option>
                                    </select>
                                    <span asp-validation-for="TypeId" class="text-danger"></span>
                                </div>
                                <div class="col-12 col-md-6 col-lg-4 form-group">
                                    <label asp-for="Price" class=" mr-3"></label>
                                    <input asp-for="Price" class="form-control form-control-sm" />
                                    <span asp-validation-for="Price" class="text-danger"></span>
                                </div>
                                <div class="col-12 col-md-6 col-lg-4 form-group">
                                    <label asp-for="CurrencyId" class=" mr-3"></label>
                                    <select asp-for="CurrencyId"
                                            asp-items="Currencies" class="custom-select custom-select-sm">
                                        <option>Please select one</option>
                                    </select>
                                    <span asp-validation-for="CurrencyId" class="text-danger"></span>
                                </div>
                                <div class="col-12 col-md-6 col-lg-4 form-group">
                                    <label asp-for="LanguageId" class=" mr-3"></label>
                                    <select asp-for="LanguageId"
                                            asp-items="Languages" class="custom-select custom-select-sm">
                                        <option>Please select one</option>
                                    </select>
                                    <span asp-validation-for="LanguageId" class="text-danger"></span>
                                </div>
                                <div class="col-12 col-md-6 col-lg-4 form-group">
                                    <label asp-for="VideoTranscript" class=" mr-3"></label>
                                    <input asp-for="VideoTranscript" class="form-control form-control-sm" />
                                    <span asp-validation-for="VideoTranscript" class="text-danger"></span>
                                </div>
                                <div class="col-12 col-md-6 col-lg-4 form-group">
                                    <label asp-for="StatusId" class=" mr-3"></label>
                                    <select asp-for="StatusId"
                                            asp-items="Statues" class="custom-select custom-select-sm">
                                        <option>Please select one</option>
                                    </select>
                                    <span asp-validation-for="StatusId" class="text-danger"></span>
                                </div>
                                <div class="col-12 col-md-6 col-lg-4 form-group">
                                    <label asp-for="LevelId" class=" mr-3"></label>
                                    <select asp-for="LevelId"
                                            asp-items="Levels" class="custom-select custom-select-sm">
                                        <option>Please select one</option>
                                    </select>
                                    <span asp-validation-for="LevelId" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-12 d-flex flex-wrap">
                                <div class="col-12 form-group">
                                    <label asp-for="Reference" class=" mr-3"></label>
                                    <input asp-for="Reference" class="form-control form-control-sm" />
                                    <span asp-validation-for="Reference" class="text-danger"></span>
                                </div>
                                <div class="col-12 form-group">
                                    <label asp-for="ReferenceText" class=" mr-3"></label>
                                    <input asp-for="ReferenceText" class="form-control form-control-sm" />
                                    <span asp-validation-for="ReferenceText" class="text-danger"></span>
                                </div>
                                <div class="col-12 form-group">
                                    <label asp-for="ReferenceLink" class=" mr-3"></label>
                                    <input asp-for="ReferenceLink" class="form-control form-control-sm" />
                                    <span asp-validation-for="ReferenceLink" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="row">
                            <div class="col-12 d-flex flex-wrap">
                                <div class="col-12 form-group">
                                    <label asp-for="Description" class="lable-control"></label>
                                    <input asp-for="Description" class="form-control form-control-sm" />
                                    <span asp-validation-for="Description" class="text-danger"></span>
                                </div>
                                <div class="col-12 form-group">
                                    <label asp-for="Requirements" class="lable-control"></label>
                                    <input asp-for="Requirements" class="form-control form-control-sm" />
                                    <span asp-validation-for="Requirements" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-12 d-flex">
                                <div class="col-12">
                                    <div class="d-flex flex-nowrap">
                                        <div class="form-group flex-fill">
                                            <label>Course Skills to Gain Name</label>
                                            <div class="d-flex flex-nowrap">
                                                <select id="gainSkills" class="custom-select flex-fill mr-2" asp-items="Skills">
                                                    <option value="0">[]</option>
                                                </select>
                                                <button id="btnGainSkill" type="button" class="btn btn-new text-white">+</button>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <ul id="selectedGainSkills" class="list-inline list-unstyled">
                                        </ul>
                                    </div>

                                </div>
                            </div>
                            <div class="col-12 d-flex">
                                <div class="col-12">
                                    <div class="d-flex flex-nowrap">
                                        <div class="form-group flex-fill">
                                            <label>Skill Required</label>
                                            <div class="d-flex flex-nowrap">
                                                <select id="requirdSkills" class="custom-select flex-fill mr-2" asp-items="Skills">
                                                    <option value="0">[]</option>
                                                </select>
                                                <button id="btnRequirdSkill" type="button" class="btn btn-new text-white">+</button>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <ul id="selectedRequirdSkills" class="list-inline list-unstyled">
                                        </ul>
                                    </div>

                                </div>
                            </div>
                            <div class="col-12 d-flex">
                                <div class="col-12">
                                    <div class="d-flex flex-nowrap">
                                        <div class="form-group flex-fill">
                                            <label>Module</label>
                                            <div class="d-flex flex-nowrap">
                                                <select id="courseModules" class="custom-select flex-fill mr-2" asp-items="Modules">
                                                    <option value="0">[]</option>
                                                </select>
                                                <button id="btnModule" type="button" class="btn btn-new text-white">+</button>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <ul id="selectedModule" class="list-inline list-unstyled">
                                        </ul>
                                    </div>

                                </div>
                            </div>
                            <div class="col-12 d-flex">
                                <div class="col-12 form-group">
                                    <label asp-for="Insetructor" class="lable-control"></label>
                                    <input asp-for="Insetructor" class="form-control form-control-sm" />
                                    <span asp-validation-for="Insetructor" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="row">
                            <div class="col-12 d-flex mb-2">
                                <div class="form-check-inline mx-3">
                                    <label asp-for="HasCeritifcate" class="form-check-label mr-3"></label>
                                    <input asp-for="HasCeritifcate" class="form-check-input" />
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-group mx-3">
                                    <label asp-for="CertificateComments" class="lable-control"></label>
                                    <input asp-for="CertificateComments" class="form-control form-control-sm" />
                                    <span asp-validation-for="CertificateComments" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-12 d-flex flex-wrap">
                                <div class="col-12 col-md-6 col-lg-4 form-group">
                                    <label asp-for="StartDate" class="lable-control"></label>
                                    <input asp-for="StartDate" class="form-control form-control-sm" />
                                    <span asp-validation-for="StartDate" class="text-danger"></span>
                                </div>
                                <div class="col-12 col-md-6 col-lg-4 form-group">
                                    <label asp-for="EndDate" class="lable-control"></label>
                                    <input asp-for="EndDate" class="form-control form-control-sm" />
                                    <span asp-validation-for="EndDate" class="text-danger"></span>
                                </div>
                                <div class="col-12 col-md-6 col-lg-4 form-group">
                                    <label asp-for="ApplicationDueDate" class="lable-control"></label>
                                    <input asp-for="ApplicationDueDate" class="form-control form-control-sm" />
                                    <span asp-validation-for="ApplicationDueDate" class="text-danger"></span>
                                </div>
                                <div class="col-12 col-md-6 col-lg-4 form-group">
                                    <label asp-for="Effort" class="lable-control"></label>
                                    <div class="input-group input-group-sm">
                                        <input asp-for="Effort" class="form-control form-control-sm" />
                                        <div class="input-group-append">
                                            <span class="input-group-text" id="basic-addon1">/ week</span>
                                        </div>
                                    </div>
                                    <span asp-validation-for="Effort" class="text-danger"></span>
                                </div>
                                <div class="col-12 col-md-6 col-lg-4 form-group">
                                    <label asp-for="NumberOfSessions" class="lable-control"></label>
                                    <input asp-for="NumberOfSessions" class="form-control form-control-sm" />
                                    <span asp-validation-for="NumberOfSessions" class="text-danger"></span>
                                </div>
                                <div class="col-12 col-md-6 col-lg-4 form-group">
                                    <label asp-for="RealsedDate" class="lable-control"></label>
                                    <input asp-for="RealsedDate" class="form-control form-control-sm" />
                                    <span asp-validation-for="RealsedDate" class="text-danger"></span>
                                </div>
                                <div class="col-12 col-md-6 col-lg-4 form-group">
                                    <label asp-for="MinNumberOfStudent" class="lable-control"></label>
                                    <input asp-for="MinNumberOfStudent" class="form-control form-control-sm" />
                                    <span asp-validation-for="MinNumberOfStudent" class="text-danger"></span>
                                </div>
                                <div class="col-12 col-md-6 col-lg-4 form-group">
                                    <label asp-for="MaxNumberOfStudent" class="lable-control"></label>
                                    <input asp-for="MaxNumberOfStudent" class="form-control form-control-sm" />
                                    <span asp-validation-for="MaxNumberOfStudent" class="text-danger"></span>
                                </div>
                                <div class="col-12 col-md-6 col-lg-4 form-group">
                                    <label asp-for="CourseFee" class="lable-control"></label>
                                    <input asp-for="CourseFee" class="form-control form-control-sm" />
                                    <span asp-validation-for="CourseFee" class="text-danger"></span>
                                </div>
                                <div class="col-12 col-md-6 col-lg-4 form-group">
                                    <label asp-for="DiscountEndDate" class="lable-control"></label>
                                    <input asp-for="DiscountEndDate" class="form-control form-control-sm" />
                                    <span asp-validation-for="DiscountEndDate" class="text-danger"></span>
                                </div>
                                <div class="col-12 col-md-6 col-lg-4 form-group">
                                    <label asp-for="DiscountPercentage" class="lable-control"></label>
                                    <div class="input-group input-group-sm">
                                        <input asp-for="DiscountPercentage" class="form-control form-control-sm" />
                                        <div class="input-group-append">
                                            <span class="input-group-text" id="basic-addon1">%</span>
                                        </div>
                                    </div>
                                    <span asp-validation-for="DiscountPercentage" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-group mx-3">
                                    <label asp-for="SearchTags" class="lable-control"></label>
                                    <input asp-for="SearchTags" class="form-control form-control-sm" />
                                    <span asp-validation-for="SearchTags" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer d-flex flex-column justify-content-center position-relative">
            <div class="row justify-content-center">
                <ol class="carousel-indicators position-relative">
                    <li data-target="#slidingLayout" data-slide-to="0" class="indicators active" style="border-radius: 50%; width: 10px; height: 10px;background-color:gray"></li>
                    <li data-target="#slidingLayout" data-slide-to="1" class="indicators" style="border-radius: 50%; width: 10px; height: 10px; background-color: gray"></li>
                    <li data-target="#slidingLayout" data-slide-to="2" class="indicators" style="border-radius: 50%; width: 10px; height: 10px; background-color: gray "></li>
                </ol>
            </div>
            <div class="row justify-content-between align-content-center w-75">
                <a class="btn btn-new my-2" id="prev" href="#slidingLayout" role="button" data-slide="prev" style="width:100px;">
                    <span>Previous</span>
                </a>
                <a class="btn btn-new my-2" id="next" href="#slidingLayout" role="button" data-slide="next" style="width:100px;">
                    <span>Next</span>
                </a>
                <button type="submit" class="btn btn-new my-2" style="width:100px;"><i class="loader"></i>Save</button>
                <button type="button" class="btn btn-new my-2" data-dismiss="modal" style="width:100px;">Close</button>
            </div>
        </div>
    </form>
</div>